# follow three lines ignore all files without dot, aka, have no extension/suffix
# see <https://stackoverflow.com/questions/19023550/how-do-i-add-files-without-dots-in-them-all-extension-less-files-to-the-gitign>
*
!/**/
!*.*
!makefile

# for eclipse
/.cproject
/.project
/.settings

# for vscode
/.vscode

# compiler result
*.o
*.a

# OS
.DS_Store

# Table Files
*.tbl